[Unit]
Description=check GitHub for magnetgate updates every 3 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
RandomizedDelaySec=30
Persistent=true

[Install]
WantedBy=timers.target
